{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <!-- Left side bar -->
     <!-- load sidebar here -->
      {% include 'dashboard/sidebar.html' %}
    <!-- Right side bar -->
     <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2>Add new User</h2>
        <form action="{% url 'add_user' %}" method="POSt">
            {% csrf_token %}
            {{ form |crispy }}
            <button class="btn btn-warning">Submit</button>
        </form>
        <br>
        {% else %}
        <h2>You don't have permission to view this page</h2>
        {% endif %}
     </div>
</div>


{% endblock %}